
@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
    box-sizing: border-box;
}
#menu {
    background-image: linear-gradient(to right, rgb(72, 101, 134), rgb(19, 41, 54));
    margin: 0px;
    padding-bottom: 40px;
    margin-bottom: 20px;
}
#embaralhar {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
}
#icone {
    width: 20px;
}
section {
    background-color: white;
}
span {
    display: inline-block;
    margin-right: 20px;
    color: blue;
    font-weight: bolder;
}
.seta {
    display: block;
    font-size: 1.5em;
    color: black;
    margin-top: 10px;
    border: 1px solid gray;
    width: 33px;
    cursor: pointer;
    border-radius: 3px;
    margin: auto;
}
.seta:hover {
    border: 1px solid black;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.479);
}
section > h1 {
    text-align: center;
    padding: 30px;
    color: white;
    background-image: linear-gradient(to right, rgb(72, 101, 134), rgb(19, 41, 54));
}
section > h4 {
    padding: 5px;
}

input:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
    transition: 0.4s;
}
.questãoAberta {
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    height: 50px;
    width: 90%;
}
.respota {
    display: none;
    border: 1px solid darkgreen;
    border-radius: 8px;
}
.chamaResposta {
    margin-bottom: 5px;
    cursor: pointer;
    margin-top: 8px;
}
.chamaResposta:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
    transition: 0.4s;
}
.chamaResposta:active {
    width: 68px;
    background-color: darkgrey;
    border: 1px solid gray;
    border-radius: 2px;
    box-shadow: none;
    transition: 0.4s;
}
.complete {
    border: none;
    border-bottom: 1px solid black;
    width: 150px;
    text-align: center;
}
li {
    list-style: none;
    padding-bottom: 8px;
}
.VouF {
    margin-right: 20px;
}
.sublinhado {
    text-decoration: underline;
    color: black;
}
.questão {
    margin: 0px;
    padding: 0px;
}
.marqueX {
    margin-right: 20px;
}
div {
    padding: 20px;
    margin-bottom: 10px;
}
.res {
    display: none;
    color: darkslategray;
    border: 1px solid darkred;
    border-radius: 15px;
}
li {
    margin-bottom: 10px;
    margin-top: 10px;
    list-style-position: inside;
}
img {
    width: 70vw;
}