@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
    box-sizing: border-box;
}
section {
    background-color: white;
}
span {
    display: inline-block;
    margin-right: 20px;
    color: blue;
}
.seta {
    display: block;
    font-size: 1.5em;
    color: black;
    margin-top: 10px;
    border: 1px solid gray;
    width: 33px;
    cursor: pointer;
    border-radius: 3px;
    margin: auto;
}
.seta:hover {
    border: 1px solid black;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.479);
}
section > h1 {
    text-align: center;
    padding: 30px;
    color: white;
    background-color: darkslategray;
    margin-bottom: 20px;
}
section > h4 {
    padding: 5px;
}
input {
    display: block;
    margin-left: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.521);
}
div {
    padding: 20px;
    margin-bottom: 10px;
}
.res {
    display: none;
    color: darkslategray;
    border: 1px solid darkred;
    border-radius: 15px;
}
li {
    margin-bottom: 10px;
    margin-top: 10px;
    list-style-position: inside;
}
img {
    width: 64vw;
}
